* {
    background-color:#C0C0C0;
}

body{
   height: auto; 
}

#wrapper{
    width: 960px;
    margin-left: 200px;
    margin-right: 200px;
}



header{
    width: 100%;
    height: 60px; 
    background-color:white;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: 50px; 
    background-color: #666666;
}

h3 {
    float: right;
    text-decoration-style: none
}

.container {
    padding: 20px;
    width: 150px;
    height: 80px;
    background: pink;
    padding: 20px;
}

.content{
    background: white;
    width: 100%;
    height: 960px;
    border-color: #dddddd
}

h2 {
    float: left;
    width: 47px;
    background-color:white;
    margin-bottom: 20px;
    height: 50px; 
    font-size: 12px;
    text-align: left;

}

/* h3 {
    float: right;
    width: 47px;
    margin: 15px;
} */

li {
    float: right;
}

li a {
    display: inline-block;
    color:  #666666;
    background-color: white;
    text-align: center;
    padding: 10 px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}